<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Producto</title>
</head>
<body>      
    <form action="/apppedido/buscarProducto/" method="get">

       <p> <input type="number" name="id_producto"> </p>

       <p> <input type="submit" name="Buscar"></p>
    <form>

    {% if producto  %}
        <p> Producto encontrado: {{producto.nombre}} </p>
    {% endif %}

</body>
</html>