<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Clientes</title>
</head>
<body>
    <form action="/apppedido/formularioCliente/" method="POST">       
        {% csrf_token %}
       <p> Celular  :<input type="text" name="celular" id=""> </p>
       <p> Nombre   :<input type="text" name="nombre" id=""> </p>
       <p> Apellido :<input type="text" name="apellido" id=""> </p>
       <p> Direccion:<input type="text" name="direccion" id=""> </p>
       <p> E-mail   :<input type="text" name="email" id=""> </p>
       <p> Localidad:<input type="text" name="localidad" id=""> </p>
   

       <p><input type="submit" value="Agregar Cliente"> </p>

    </form>
</body>
</html>