<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Clientes' %}">Clientes</a>
        <a class="navbar-brand" href="{% url 'Repartidores' %}">Repartidores</a>
        <a class="navbar-brand" href="{% url 'Pedidos' %}">Pedidos</a>
        <a class="navbar-brand" href="{% url 'Productos' %}">Productos</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>